.slide

    h1 Contribution: Proof of Concept

    ul
        li function: filterbank correlation
        li instrumented implementation: [cite]
        li test on several platforms (platform instrumentation is future work)
        li measure timing relative to reference implementation
        li fit boosted regression trees regression model

    p Result: we can match the excellent call-time performance of empirical
    auto-tuning across a range of image and filter sizes without the
    computational cost of empirical auto-tuning.



